{% extends 'classroom/base.html' %}

{% block title %}Students list{% endblock %}

{% block body %}
    <h1>This is Students list</h1>
    <a href="{% url 'classroom:new' %}">New Students</a>

    <ul>
        {% for student in students %}
            <li>
                {% comment %} <a href="/board/articles/{{ article.id }}">{{ article.title }}</a> {% endcomment %}
                <a href="{% url 'classroom:detail' student.id %}">
                    {{ student.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock body %}