{% extends 'classroom/base.html' %}

{% block title %}New article{% endblock title %}

{% block body %}
<h1>New student</h1>
{% comment %} 왜 중요해요? > db에 반영 될 정보니까! {% endcomment %}
<form action="{% url 'classroom:create' %}" method="POST">
    {% csrf_token %}
    <div>
        <label for="name">이름:</label>
        <input id="name" name="name">
    </div>
    <div>
        <label for="age">나이:</label>
        <textarea id="age" name="age"></textarea>
    </div>
    <div>
        <label for="major">전공:</label>
        <textarea id="major" name="major"></textarea>
    </div>
    <div>
        <input type="submit" value="제출">
    </div>
</form>


{% endblock body %}