<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <!-- 로그인 했다면, -->
    <a href="{% url 'articles:article_create' %}">글 쓰기</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <!-- 안했다면 -->
    {% else %}
    <a href="{% url 'accounts:login' %}">로그인</a>
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
    {% block body %}
    {% endblock %}
</body>