{% extends 'board/base.html' %}

{% block title %}New article{% endblock title %}

{% block body %}
<h1>New article</h1>
{% comment %} 왜 중요해요? > db에 반영 될 정보니까! {% endcomment %}
<form action="{% url 'board:create' %}" method="POST">
    {% csrf_token %}
    <div>
        <label for="title">제목:</label>
        <input id="title" name="title">
    </div>
    <div>
        <label for="content">내용:</label>
        <textarea id="content" name="content" cols="30" rows="10"></textarea>
    </div>
    <div>
        <input type="submit" value="제출">
    </div>
</form>




{% endblock body %}