{% extends 'utils/base.html' %}
{% block title %}ART{% endblock %}
{% block body %}

<h1>Asciify</h1>
<p>Input Some text below</p>
<form action="/utils/output/" method="GET">
    {% csrf_token %}
    <div>
        <label for="word">text</label>
        <input id="word" name="user-input" type="text" required>
    </div>

    <!-- 
        <div>
            <label for="font">font</label>
            <input name="user-font" type="radio" value="1943">1943
            <input name="user-font" type="radio" value="3d_diagonal">3d_diagonal
            <input name="user-font" type="radio" value="5lineoblique">5lineoblique
        </div> -->

    <div>
        <label for="font">font</label>
        <select name="user-font" id="font">
            {% for font in fonts %}
            <option value="{{ font }}">{{ font }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}